# Tuple

A tuple is very similiar to a list but it has minor differences:
- **Immutable**: Once created, it cannot be changed
- **Ordered**: They have a defined order, it cannot be changed
- **Indexed**: Like list
- **Mixed Data Types**: Like list
- **Fixed Size**: Since these are immutable their size cannot change as well

## Creating a Tuple

In [3]:
my_tuple = ("Python", 34, ["a", "b"])

# you do not have to use brackets
my_tuple = "Python", 34, ["a", "b"]

print(my_tuple)

('Python', 34, ['a', 'b'])

## Accessing Values

In [ ]:
# print the first element
print(my_tuple[])

# print the first two elements


#print the last element in the last element

## Additional Operations

In [6]:
my_tuple = ("Python", "SQL")
# length 
print(len(my_tuple))

# sort
print(sorted(my_tuple))

# value exists?
print("Python" in my_tuple)

2
['Python', 'SQL']
True

# Set

A set is a collection that is unordered and unindexed 

- **unordered and unindexed**: you cannot access items by referring to an index or key
-  **mutable**: you can add and remove items
- **unique elements**: all values in set are unique, and you cannot have repeated values
- **dynamic size**: size can change automatically
- **mixed data types**: set can contain various data types

## Creating a Set

In [7]:
my_set = {"Apple", "Kiwi", "Pear"}

# other options is to use a set()
my_set = set(["Apple", "Kiwi", "Pear"])

print(my_set)

{'Kiwi', 'Apple', 'Pear'}

In [8]:
# if you add a pre-existing value it will be ignored
my_set.add("Apple")

print(my_set)

{'Kiwi', 'Apple', 'Pear'}

In [9]:
# check if a value exists
print("Pear" in my_set)
print("Cherry" in my_set)

True
False

In [10]:
set_a = {"Python", "SQL", "Java"}
set_b = {"Python", "C++"}

print(set_a | set_b) # union
print(set_a & set_b) # intersect 
print(set_a - set_b) # difference
print(set_b - set_a) # difference

{'Java', 'Python', 'C++', 'SQL'}
{'Python'}
{'Java', 'SQL'}
{'C++'}