# Data Types

In [1]:
product = "eggs" 
print(type(product))

<class 'str'>

In [2]:
print(isinstance(product, str))
print(isinstance(product, int))

True
False

In [3]:
type(product)==str

True

Create a variable 'price' to be a float, and a variable 'qty' to be an int
Print their types.

In [4]:
price = 12.50
qty = 2
print(type(price))
print(type(qty))

<class 'float'>
<class 'int'>

In [7]:
weight = "0.56"
print(type(weight))
weight = float(weight)
print(type(weight))

<class 'str'>
<class 'float'>

Convert price to int, and check if price and quantity have the same type

In [9]:
price = int(price)
type(price)==type(qty)

True

# Comparison Operators

In [1]:
a = 10
b = 6
print (a>b)
print(a==b)
print(a>=b)
print(a!=b)

True
False
True
True

In [2]:
a, b, c = 10, 6, 4
print(a>b and c<5)
print(a>5 or c>5)
print(a>c and not(b<a))

True
True
False

### Arithmatic Operations

In [6]:
a, b = 10, 4

# addition
print(a+b)

# subtraction
print(a-b)

# division
print(a/b)

# multiplication
print (a*b)

# remainder of 10/4
print(a%b)
      
# whole part of 10/4
print(a//b)

# 10 to the power of 4
print(a**b)

14
6
2.5
40
2
2
10000

In [8]:
name = 'Peter'
surname = 'Grech'
print(name, surname,sep=';')
print(name, surname)
print(name+' '+surname)

Peter;Grech
Peter Grech
Peter Grech

In [9]:
print(name*3)

PeterPeterPeter

In [10]:
price=12.50
print(name*price)

TypeError: can't multiply sequence by non-int of type 'float'

### Strings

In [13]:
product = "Corn Flakes"
print("1st letter", product[0])
print("3rd letter", product[2])
print("Last letter", product[-1])
print("First 3 letters", product[0:3])

1st letter C
3rd letter r
Last letter s
First 3 letters Cor

In [ ]:
product =